<div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista de Productos" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="nuevoproducto" class="btn btn-outline-dark">Nuevo Producto</a>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  @for (producto of listaproductos; track $index) {
                    <tr>
                      <td>{{ $index + 1 }}</td>
                      <td>{{ producto.nombre }}</td>
                      <td>{{ producto.descripcion }}</td>
                      <td>{{ producto.precio }}</td>
                      <td>{{ producto.stock }}</td>
                      <td>
                        <button type="button" class="btn btn-outline-success" [routerLink]="['/editarproducto/', producto.producto_id]">
                          Editar
                        </button>
                        <button (click)="eliminar(producto.producto_id)" type="button" class="btn btn-outline-danger">Eliminar</button>
                      </td>
                    </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  